<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mathametic oparation</title>
</head>
<body  style="background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1965691535.1694415123&semt=ais'); background-size: 100% 100%; cover; background-repeat: no-repeat; background-attachment: fixed;">
>
<h1> image uploding</h1>
<center>
<style>
body {
  background-image: url("https://www.freepik.com/photos/beautiful-girl");
}
</style>

<form action="./ccl">
    Enter a First number:<input type ="text" name="t1"> <br>
    Enter a second number:<input type ="text" name="t2"> <br>
        <input type="submit" value="add" name="oper"><br></br>

    <input type="submit" value="sub" name="oper"><br></br>

    <input type="submit" value="div" name="oper"><br>

    <input type="submit" value="mul" name="oper"><br>
    </center>

</form>

</body>
</html>